.container_container {
    img {
        width: 100%;
        aspect-ratio: 1/0.2;
        object-fit: cover;
    }
    .gruz_info_box {
 @media (max-width:1064px) {
        padding: 40px 16px;
    }
    }
   
}
.input_box {
    input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
       
        &::placeholder {
          
           
            padding-top: 8px; /* Настроить верхний отступ */
            padding-bottom: 8px; /* Настроить нижний отступ */
            line-height: 1.5; /* У`становить высоту строки */
        }
    }
}