.how_container {
   
    .how_title {
        @media (max-width:1064px) {
            padding: 0 16px;
        }
        @media (max-width:752px) {
            h1 {
                font-size: 23px;
            }
        }
    }
    .how_box {
        @media (max-width:1064px) {
            padding: 0 5px;
        }
    }
}
// .first_row {
//     align-items: center;
// &>div {
//     margin-bottom: 48px;
// }
// &>div:first-child {
//    width: 448px;
//    flex-shrink: 0;
// }
// &>div:nth-child(3) {
//     width: 448px;
//     flex-shrink: 0;
// }
// &>div:nth-child(5) {
//     width: 448px;
//     flex-shrink: 0;
// }

// &>div:nth-child(8) {
//     width: 448px; 
//     flex-shrink: 0;
// }
// &>div:nth-child(10) {
//     width: 448px;
//     flex-shrink: 0;
// }
//     h1 {
//         line-height: 1;
//         @media (max-width:1687px) {
//             font-size: 100px;
//         }
//     }
//     span {
//         @media (max-width:1687px) {
//             font-size: 30px;
//         }
//     }
//     .stick1 {
//         background-color: #005494;
//         height: 1px;
//         width: 73px;
     
//     }
//     .stick2 {
//         background-color: #005494;
//         height: 1px;
//         width: 73px;
      
//     }
//     .stick3 {
//         background-color: #005494;
//         height: 1px;
//         width: 370px;
      
//     }
//     .stick4 {
//         background-color: #005494;
//         height: 1px;
//         width: 552px;
      
//     }
//     .stick5 {
//         background-color: #005494;
//         height: 1px;
//       width: 73px;
//     }
// }
.first_row {
    display: flex;
    align-items: center;
   
    flex-wrap: wrap;
}

.step {
    border: 2px solid #005494;
    border-radius: 8px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    margin-bottom: 48px;

    @media (max-width:663px) {
       padding: 10px 4px;
    }

}

.step h1 {
    font-size: 128px;
    font-weight: 700;
    color: #005494;
    margin-right: 10px;
    line-height: 1;
  
    @media (max-width:1375px) {
        font-size: 70px;
    }
    @media (max-width:935px) {
        font-size: 40px;
    }
    @media (max-width:663px) {
        font-size: 20px;
        margin-right: 1px;
    }
}

.step span {
    font-size: 32px;
    font-weight: 700;
    color: #005494;


    @media (max-width:1375px) {
        font-size: 24px;
 
    }
    @media (max-width:935px) {
        font-size: 14px;

    }
    @media (max-width:663px) {
        font-size: 13px;
     
    }
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #005494;
    min-width: 15px; /* Чтобы линия не сжималась полностью */
    margin-bottom: 48px;
}
